.x-container{
  background: red;
  height: 80vh;
  position: relative;
}

.landing-container{
  background: blue;
  height: 50vh;
  position: absolute;
}

.home-btn{
  position: relative;
  top: 80vh;
  left: 47.5%;
}
