.nav-bar{
  background: #ee202c;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  pointer-events: all;
  box-shadow: 0px 5px 5px red;
  z-index: 51;
  position: fixed;
  width: 100%;
  top: 0;
}

.container-navbar{
  // height: 165vh;
  pointer-events: none;
  background-color: beige;
}

.navbar-cont{
  position: sticky;
  top: 0;
  pointer-events: none;
  z-index: 5;
}

.logo-container {
  z-index: 2;
  .logo{
    border-radius: 75%;
    height: 16vh;
    width: 20vh;
    margin: 0 0 0 8px;
    // box-shadow: 0 2px 5px black;
    border-bottom-style:inset;
    border-color: rgba(100, 100, 100, 0.7);
  }
}

.cart-link-cont{
  padding: 4vh 6vh 0 0;
  color: whitesmoke;
  opacity: 0.8;
  text-decoration: none;
  .cart-link{
    padding: 4vh 6vh 0 0;
    color: whitesmoke;
    opacity: 0.9;
    text-decoration: none;
  }
  h2{
    font-weight: 600;

    cursor: pointer;
  }
}
.cart-link-cont:hover{
  opacity: 1;
  text-shadow: 1px 1px 3px;
}
