.product-container {
  // position: absolute;
  width: auto;
  text-decoration: none;
  background-color: beige;
  z-index: 1;
  padding-bottom: 8vh;
}

.card-container {
  padding: 6vh 0 0 0;
  justify-content: center;
}
