@import 'navbar';
@import 'pages';
@import 'cards';
@import 'cart';
@import 'navbarList';
@import 'home';
@import 'page-not-found';
@import 'modal';

body{
  font-family: 'Beau Rivage','Square Peg';
  background-color: #F6F6F7;
}

@media (min-width: 401px){
  .card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

}

@media (min-width: 1240px) {
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card-outside-cont {
    margin: 2vh 4vh 8vh 6vh;
  }
  .cards{
    width: 80%;
  }

    svg {
    width: 100%;
    height: 100%;
    /* position: absolute; */
    position: fixed;
    top: -125px;
    z-index: 60;
    padding: 20vh 0 0 0;
    align-self: center;
    }
    .link-cont{
      z-index: 9999;
      position: absolute;
      align-self: center;
      position: relative;
      text-align: center;
      top: 70vh;
    }
}
