.nav-bar{
  background: #ee202c;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  pointer-events: all;
  box-shadow: 0px 1px 5px;
}

.container-navbar{
  height: 200vh;
  pointer-events: none;
  background-color: beige;
}

.navbar-cont{
  position: sticky;
  top: 0;
  pointer-events: none;
  z-index: 5;
}

.logo-container {
  z-index: 2;
  .logo{
    border-radius: 75%;
    height: 18vh;
    width: 24vh;
    margin: 0px 0 0 8px;
  }
}

.cart-link{
  padding: 4vh 6vh 0 0;
  color: whitesmoke;
  opacity: 0.8;

  h2{
    font-weight: 600;
    text-shadow: 2px 1px 3px;
    cursor: pointer;
  }
}
.cart-link:hover{
  opacity: 1;
}

.product-list-container{
  height: 70vh;
  width: 40vh;
  background-color: #024a00;
  display: inline-grid;
  display: flex;
  flex-direction: column;
  padding: 10vh 0 0 0;
  border-bottom-right-radius: 8px;
  pointer-events: all;
  box-shadow: 2px 2px 5px ;
  .list{
    color: whitesmoke;
    font-size: 7vh;
    text-decoration: none;
    cursor: pointer;
    padding: 0 0 0 3vh;
    opacity: 0.8;
  }
}

.list:focus{
  background-color: #ee202c;
  transition-duration: 0.3s;
  opacity: 1;
  color: white;
}
.list:hover{
  transform: scaleY(1.1);
  opacity: 1;
}
